@model SalesWebMvc.Models.ViewModels.Departament

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Departament</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cnpj)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nscricaoEstadual)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nscricaoEstadual)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Responsavel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Responsavel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
